<% if(errors) {
    errors.forEach(error => {
        %>
        <div class="alert alert-primary" role="alert">
            <%= error %>
          </div>
        <%
    })
} %>

<% if(success) {
    success.forEach(theSuccess => {
        %>
        <div class="alert alert-primary" role="alert">
            <%= theSuccess %>
          </div>
        <%
    })
} %>