<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand ps-3" href="#">Catch The Point</a>
    <div class="navbar" id="navbarText">
        <ul class="nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="https://github.com/AntonyOnScript">Who's the Dev?</a>
            </li>
        </ul>
    </div>
</nav>