<%- include('./includes/head.ejs') %>
<body>
    <%- include('./includes/nav.ejs') %>
    <canvas class="canvas"></canvas>
    <script>
        var user = "<%= user %>"
    </script>
</body>
<%- include('./includes/footer.ejs') %>