<%- include('./includes/head.ejs') %>
<body>
    <%- include('./includes/nav.ejs') %>
    <div class="container d-flex flex-row justify-content-center">
        <div class="game-container">
            <canvas class="canvas"></canvas>
            <ul class="points"></ul>
        </div>
    </div>
    <script>
        var user = "<%= user %>"
    </script>
    <style>
        .points {
            color: white;
            position: absolute;
            top: 10px;
            right: 2px;
            list-style-type: none;
        }

        .game-container {
            position: relative;
            width: fit-content;
        }
    </style>
</body>
<%- include('./includes/footer.ejs') %>