<%- include('./includes/head.ejs') %>
<body>
    <%- include('./includes/nav.ejs') %>
    <%- include('./includes/messages.ejs') %>
    <div class="w-100 d-flex flex-column align-items-center justify-content-center form-login-field">
        <form action="/login" method="post" class="d-flex flex-column align-items-center">
            <h1>Login</h1>
            <input type="text" name="email" class="mb-3 mt-3" placeholder="Email">
            <input type="text" name="password" placeholder="Password">
            <br>
            <button type="submit" class="btn btn-success align-center">Log in</button>
        </form>
        <br>
        <form action="/register" method="post" class="d-flex flex-column align-items-center">
            <h1>Register</h1>
            <input type="text" name="email" class="mb-3 mt-3" placeholder="Email">
            <input type="text" name="password" placeholder="Password">
            <br>
            <button type="submit" class="btn btn-success align-center">Register</button>
        </form>
    </div>
</body>
<%- include('./includes/footer.ejs') %>